##
### Shared Env
##

APP_CODE_PATH_HOST=/home/eman/dev
APP_CODE_PATH_CONTAINER=/var/www
DATA_PATH_HOST=/home/eman/dev-data
NON_ROOT_USER=omnidock
WORKSPACE_TIMEZONE=UTC+8
####################################################################

##
### PHP
##

PHP_VERSION=7.2
PHP_PORT=8000
####################################################################

##
### Python
##

PYTHON_PORT=5000
####################################################################

##
### MySQL
##

MYSQL_VERSION=latest
MYSQL_USER=omni
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=secret
MYSQL_PORT=3306

PMA_ARBITRARY=1
PMA_HOST=mysql
PMA_PORT=8080
####################################################################

##
### Postgres
##

POSTGRES_VERSION=latest
POSTGRES_PORT=5432
POSTGRES_USER=omni
POSTGRES_PASSWORD=secret
####################################################################

##
### MongoDB
##

MONGODB_VERSION=latest
MONGODB_PORT=27017
MONGO_URL=mongodb://mongo:27017/omnimongo
MONGOCLIENT_INSTALL_MONGO=0
MONGOCLIENT_PORT=3000
####################################################################

##
### Redis
##

REDIS_VERSION=latest
REDIS_PORT=6379
####################################################################
